body {
    background-color: rgb(237, 230, 230);
  }
  
  #logo {
    background-image: url("h_img.jpg");
    background-size: cover;
    text-align: center;
    color: rgb(239, 236, 236);
  }
  
  #about-us {
    margin-top: 10px;
    text-align:left;
  }
  
  #services-banner {
    background-image: url(s_image.jpg);
    background-size: cover;
    text-align: center;
    color: rgb(247, 244, 244);
    font-size: large;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  .contactus {
    background-image: url(c_image.jpg);
    background-size: cover;
    display: cover;
    padding: 10%;
  }
  
  #socialtools {
    margin-left: 20%;
  }
  
  p {
    text-align: center;
  }
  
  h5 {
    text-align: center;
  }
  
  #image {
    display: flex;
    justify-content: center;
  }
  
  .Hover,
  .Hover1,
  .Hover2,
  .Hover3,
  .Hover4,
  .Hover5,
  .Hover6,
  .Hover7 {
    height: 310px;
    width: 366px;
    position: absolute;
    background-color: white;
    opacity: 0;
    margin-top: -8cm;
  }
  
  #custom-info-on-portfolio-images {
    height: 280px;
    max-width: 280px;
    padding: 1em;
  }
  
  .row {
    margin: auto;
    padding: 2%;
  }
  
  #submit {
    padding-left: 5%;
    margin: 5%;
  }
  
  .hide {
    display: none;
  }
  
  input[type="text"] {
    background: transparent;
    color: white;
  }
  
  textarea[type="text"] {
    background: transparent;
    color: white;
  }
  
  /* * {
      margin: auto;
  } */
  
  textarea [type="placeholder"] {
    color: white;
  }
  